[user]
	name = Đặng Văn Tuấn
	email = kaiz.developers@gmail.com
	username = kaidev0711
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
    editor = hx
[color]
    ui = auto
[rerere]
	enabled = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
# [credential]
# 	helper = osxkeychain
